<div  style="padding:30px;">
  <h1 class="text-info">Добро пожаловать!</h1>
<p>Мы рады приветствовать вас на Project manager.</p>
<ul>
    <li>
        <h4 class="text-info">Живая лента</h4>
        Теперь вы всега будете в курсе всех изменений в системе!
      </li>
  <li>
    <h4 class="text-info">Проекты и задачи</h4>
    Контролируйте исполнение задач. Подключайте к задаче соотрудников, оценивайте работу, учитывайте затраченное время, планируйте сроки.
  </li>
  <li>
    <h4 class="text-info">Соотрудники</h4>
    Управляйте соотрудниками: назначайте им задания, объединяйте в группы и отслеживайте процесс работы!
  </li>
  
</ul>
</div>


